<!--Alert quando não esta logado-->
<div style="text-align: center;" class="alert alert-warning" role="alert" *ngIf="!authService.isAuthenticated()">
    Obrigatória Autenticação!!! 
    <button  [routerLink]="['/login']" mat-stroked-button><mat-icon>login</mat-icon></button>
</div>

<!--Card com as Informações-->
<div class="card border-primary mb-3 example-card-cidades" *ngIf="authService.isAuthenticated()">
    <div class="style-titulo-card card-header">{{title}}</div>
    <div class="card-body text-primary">
<div class="ny-2 text-left">
    <!--<button *ngIf="authService.hasHole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]= "['/cidades/form']">Cadastrar Cidade</button>-->
    <abbr title="Cadastrar">
        <button *ngIf="authService.hasHole('ROLE_ADMIN')"  [routerLink]="['/cidades/form']" mat-fab style="background-color: teal;" alt="Cadastro" aria-label="Example icon button with a delete icon">
            <mat-icon >add</mat-icon>
        </button>
    </abbr>

</div>
<p></p>
<table class="table table-bordered table-striped texto-centro">
    <thead>
        <tr>
            <th>CODIGO</th>
            <th>CIDADE</th>
            <th>UF</th>
            <th>CADASTRADA</th>
            <th *ngIf="authService.hasHole('ROLE_ADMIN')">AÇÕES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cidade of cidades">
            <td>{{cidade.id}}</td>
            <td>{{cidade.descricao_cidade | uppercase}}</td>
            <td>{{cidade.uf.sigla_uf}}</td>
            <td>{{cidade.createAt | date: "dd/MM/yyyy"}}</td>
            <td style="align-content: center; text-align: center;" *ngIf="authService.hasHole('ROLE_ADMIN')"> 
               
                <div *ngIf="authService.hasHole('ROLE_ADMIN')" class="centro-buttons texto-centro example-button-container">
                    <abbr title="Editar">
                        <button  [routerLink]="['/cidades/form', cidade.id]" class="espaco" mat-mini-fab color="primary" aria-label="Botão Editar" name="editar">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </abbr>
                    <abbr title="Excluir">
                        <button (click)="delete(cidade)" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </abbr>
                </div>
                <!--<button class="espaco"  mat-raised-button color="primary" [routerLink]="['/cidades/form', cidade.id]" >Editar</button>
                <button (click)="delete(cidade)" mat-raised-button color="primary">Excluir</button>-->
            </td>
        </tr>
    </tbody>
</table>
<paginator-nav class="margin-paginator" *ngIf="paginador" [paginador]="paginador"></paginator-nav>
    </div>
  </div>