
<div class="abrir-modal animacion fadeIn" *ngIf="gastoService.modal">
    
  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header style-titulo-card-gasto">
            <h5 class="modal-title text-center">Gastos em {{viajem.cidade.descricao_cidade}}/{{viajem.cidade.uf.sigla_uf}} em {{viajem.dataInicial | date: "dd/MM/yyyy"}}</h5>
             </div>
          <div class="modal-body">
            <div class="container">
              <div class="col-sm">
                <ul *ngIf="viajem" class="list-group text-dark mb-3">
                <!--  <li class="list-group-item active">Viajem à {{viajem.cidade.descricao_cidade}}/{{viajem.cidade.uf.sigla_uf}} em {{viajem.dataInicial | date: "dd/MM/yyyy"}}</li>
                -->

                  <!--Alert quando não tem gastos-->
                  <div class="texto-centro alert alert-warning my-4" *ngIf="viajem.gastos.length == 0">
                   Não tem gastos cadastrados!!!
                  </div>
                  
                  <!--Table Dos Gastos-->
                  <table *ngIf="viajem.gastos.length != 0" class="table table-bordered table-striped my-4 texto-centro" style="width: 100%;">

                   

                  <!--*********DADOS DO BD*********
                    <thead> 
                    <tr>
                      <th>Data</th>
                      <th>Fornecedor</th>
                      <th>Valor</th>-->
                        <!--<th *ngIf="authService.hasHole('ROLE_ADMIN')">Actions</th>
                    </tr>
                </thead>
                <ul style=" background-color: blueviolet; text-align: center; align-items: center;" class="list-group text-dark mb-3" *ngFor="let especificacaoGasto of especificacoesGastos">
                 
                  <li class="li-edit" *ngIf="especificacaoGasto.sub_especificacoes_gastos.length > 0">
                    {{especificacaoGasto.descricao_especificacao_gasto | uppercase}}
                    <ul  *ngFor="let sub of especificacaoGasto.sub_especificacoes_gastos">
                      <li class="li-edit">
                        {{sub.descricao_sub_especificacao_gasto | uppercase}}
                        <table class="table table-bordered table-striped my-4 texto-centro">
                          <tbody>

                          <tr  *ngFor="let gasto of viajem.gastos">
                          <td *ngIf="gasto.subEspecificacaoGasto.id == sub.id">{{gasto.data_gasto | date: "dd/MM/yyyy"}}</td>
                          <td *ngIf="gasto.subEspecificacaoGasto.id == sub.id">{{gasto.fornecedor}}</td>
                          <td *ngIf="gasto.subEspecificacaoGasto.id == sub.id">R$ {{gasto.valor | number: '1.2-4'}}</td>
                        </tr>
                      </tbody>

                      </table>
                      </li>
                    </ul>
                  </li>
                </ul>-->

                
                <tbody>

                        <!--Especificações-->
                        <tr style="align-items: center;" *ngFor="let especificacaoGasto of especificacoesGastos">
                          <td colspan="3" style="background-color: rgb(128, 128, 128); font-size: 20px; text-align: center; font: bold; color: white;">
                            {{especificacaoGasto.descricao_especificacao_gasto | uppercase}}

                            <table style="width: 100%;">
                              <tbody>
                                <!--Sub Especificações-->
                             <tr style="padding-right: 30px; align-items: center; align-items: center;" *ngFor="let sub of especificacaoGasto.sub_especificacoes_gastos" >
                              <td *ngIf="sub != null" colspan="6" style="background-color: rgb(211, 211, 211); text-align: center; color: black;" >
                                  {{sub.descricao_sub_especificacao_gasto | uppercase}}
                                  <table class="table table-bordered table-striped my-4 texto-centro">
                                    <thead> 
                                      <tr>
                                        <th>Data</th>
                                        <th>Fornecedor</th>
                                        <th>Valor</th>
                                          <!--<th *ngIf="authService.hasHole('ROLE_ADMIN')">Actions</th>-->
                                      </tr>
                                  </thead>
                                    <tbody>
                                   <tr *ngFor="let gasto of viajem.gastos" style="font-size: 13,5px; font-weight: normal;">
                                    <td *ngIf="gasto.subespecificacao_id == sub.id">{{gasto.data_gasto | date: "dd/MM/yyyy"}}</td>
                                    <td *ngIf="gasto.subespecificacao_id == sub.id">{{gasto.fornecedor}}</td>
                                    <td *ngIf="gasto.subespecificacao_id == sub.id">R$ {{gasto.valor | number: '1.2-4'}}</td>
                                  </tr>
                                </tbody>
          
                                </table>
                              </td> 
                            </tr> 
                              </tbody>
                            </table>
                            
                         </td>
                        </tr>
                       
                       <!-- <tr *ngFor="let gasto of viajem.gastos">
                          <td>{{gasto.data_gasto | date: "dd/MM/yyyy"}}</td>
                          <td>{{gasto.fornecedor}}</td>
                          <td>R$ {{gasto.valor | number: '1.2-4'}}</td>
                        </tr>
                      -->
                           
                       <!--</td> 
                      </tr> -->
                                          
                      <!--Gastos da Viajem-->
                      <tr>
                        <td colspan="2" class="gasto" >Gastos na Viajem</td>
                        <td class="text-center gasto-valor">R$ {{viajem.gastoTotal | number: '1.2-4'}}</td>
                      </tr>
                        
                      <!--Adiantamento-->
                      <tr>
                        <td colspan="2" class="adiantamento">Adiantamento</td>
                        <td class="text-center adiantamento-valor">
                          R$ {{viajem.saldo | number: '1.2-4'}}
                        </td>
                      </tr>
                      <!--Total-->
                      <tr>
                        <td colspan="2" class="total"> {{getDevolverReceber()}}</td>
                        <td class="total-valor" [ngStyle]="{'color': (getValueTotal() < 0)  ? '#75fa78' : '#f7866f'}">                        
                           {{getSomaTotal()}}
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                  <abbr *ngIf="viajem.gastos.length > 0" title="Relatorio Excel">
                    <!--(click)="exportExcelViagens()" -->
                    <button (click)="exportExcelGastos(viajem.gastos, especificacoesGastos)" mat-raised-button style="color: white; background-color:rgb(64, 1, 60);">
                      Excel  <img style="width: 25px;" src="../../../assets/images/ms_excel.png"/>
                    </button>
                  </abbr>
                </ul>
                </div>
            
            </div>
          </div>
          <div class="modal-footer">
            <button (click)="fecharModal()"  mat-stroked-button color="warn">Close</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    