<!--Alert quando não esta logado-->
<div style="text-align: center;" class="alert alert-warning" role="alert" *ngIf="!authService.isAuthenticated()">
    Obrigatória Autenticação!!! 
    <button  [routerLink]="['/login']" mat-stroked-button color="primary"><mat-icon>login</mat-icon></button>
</div>

<div class="card border-primary mb-3 example-card-especificacao-gasto" *ngIf="authService.isAuthenticated()">
    <div class="style-titulo-card-especificacao-gasto card-header">{{title}}</div>
    <div class="card-body text-primary">
<div class="ny-2 text-left">
    <abbr title="Cadastrar">
        <button *ngIf="authService.hasHole('ROLE_ADMIN')"  [routerLink]="['/especificacao_gastos/form']" mat-fab style="background-color: teal;" alt="Cadastro" aria-label="Example icon button with a delete icon">
            <mat-icon>add</mat-icon>
        </button>
    </abbr>
</div>

<!--TESTES
<mat-accordion class="example-headers-align">
<mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day of the trip
      </mat-panel-title>
      <mat-panel-description>
        Inform the date you wish to travel
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>-->
<!--FIM-->


<p></p>
<table class="table table-bordered table-striped texto-centro">
    <thead>
        <tr>

            <th>CODIGO</th>
            <th>ESPECIFICACAO DO GASTO</th>
           

            <th *ngIf="authService.hasHole('ROLE_ADMIN')">AÇÕES</th>
       </tr>
    </thead>
    <tbody>
       
        <tr *ngFor="let especificacao of especificacoesGastos">
            <td>{{especificacao.id}}</td>
            <td>{{especificacao.descricao_especificacao_gasto | uppercase}}</td>
           
            <td style="align-content: center; text-align: center;" *ngIf="authService.hasHole('ROLE_ADMIN')"> 
            <div *ngIf="authService.hasHole('ROLE_ADMIN')" class="centro-buttons texto-centro example-button-container">
                <abbr title="Editar">
                    <button  [routerLink]="['/especificacao_gastos/form', especificacao.id]" class="espaco" mat-mini-fab color="primary" aria-label="Botão Editar" name="editar">
                        <mat-icon>edit</mat-icon>
                    </button>
                </abbr>
                <abbr title="Excluir">
                    <button (click)="delete(especificacao)" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </abbr>

            </div>
          </td>
        </tr>
    </tbody>
</table>

<paginator-nav-setor class="margin-paginator" *ngIf="paginador" [paginador]="paginador"></paginator-nav-setor>
    </div>
  </div>