<div class="card border-primary mb-3" style="max-width: 35rem;">
    <div class="card-header">Cidades</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Lista das Cidades</h5>
<div class="ny-2 text-left">
    <button class="btn btn-rounded btn-primary" type="button" [routerLink]= "['/cidades/form']">Cadastrar Cidade</button>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>DESCRICAO</th>
            <th>FK_UF</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cidade of cidades">
            <td>{{cidade.id}}</td>
            <td>{{cidade.descricao_cidade}}</td>
            <td>{{cidade.fk_uf}}</td>
        </tr>
    </tbody>
</table>

    </div>
  </div>