<div class="card bg-dark text-white">
<div class="card-header">{{titulo}}</div>
<div class="card-body">
<form (ngSubmit)= "create()">
    <div class="form-group row">
        <label for="descricao_cidade" class="col-form-label col-sm-2">Cidade</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="cidade.descricao_cidade" name="descricao_cidade"> 
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            <button class="btn btn-primary" role="button">Cadastrar</button> 
        </div>
    </div>
</form>

</div>
</div>