mat-card {
    max-width: 400px;
    margin: 2em auto;
  }
  mat-card-title{
    text-align: center;
    color: white;
    font-weight: bold;
  
  }
  
  mat-card-header{
  
    padding: 5px;
    background-color: rgb(12, 102, 34);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px ;
    height: 40px;
    width: 100%;
    display: block;
  }
  

.example-card-setores {
    margin: 2em auto;
    max-width: 600px;
    padding: 0; 
  }
   .example-card-setores-form {
    margin: 2em auto;
    max-width: 600px;
     align-content: center;
   }
   .example-form {
     min-width: 150px;
     max-width: 500px;
     width: 100%;
   }