
<div class="abrir-modal animacion fadeIn" *ngIf="provisoesViajemFinanceiroService.modal">
    
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header style-titulo-card-gasto">
              <h5 class="modal-title text-center">Inserir Previsão de Viagens</h5>
               </div>
                 <div class="modal-body">

                    <div class="container blocos_lado_a_lado">
                        <!--CARD DADOS PESSOAIS-->
                        <div class="card" style="width: 18rem;">
                            <img src="../../../assets/images/perfil.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">{{viajem.funcionario.nome}}</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Período: {{viajem.dataInicial | date: "dd/MM/yyyy"}} à {{viajem.dataFinal | date: "dd/MM/yyyy"}}</li>
                              <li class="list-group-item">Destino: {{viajem.cidade.descricao_cidade}}/{{viajem.cidade.uf.sigla_uf}}</li>
                              <li class="list-group-item">Setor: {{viajem.funcionario.setor.descricao_setor}}</li>
                            </ul>
                            <div class="card-body">
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                        
                        <!--*****ADD PROVISÕES*****-->
                        <div class="espaco_financeiro" *ngIf="viajem.status === 'ANALISE_FINANCEIRA'"> 
                          <form>
                           
                         
                            <div class="form-group row margin-form">
                              <label for="descricao_espec" class="col-form-label col-sm-2">Despesa</label>
                              <div class="col-sm-6">
                              <select class="form-select form-select-sm" name="descricao_espec" style="width: 150px;" #desc required>
                                  <option [ngValue]="undefined">selecione a Despesa</option>
                                  <option [ngValue]="e.descricao_especificacao_gasto" *ngFor="let e of especificacoes_spinner">{{e.descricao_especificacao_gasto}}</option>
                              </select>     
                              </div>
                          </div>

                          <div class="form-group row margin-form">
                            <label for="valor_espec" class="col-form-label col-sm-2">Valor</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" #valor name="valor_espec" required> 
                            </div>
                        </div>
                             
                            <div class="form-group row margin-form">
                                <div class="col-sm-6">
                                        <button class="espaco button-edit" mat-raised-button (click)="addEspecificacaoFinanceiro(desc, valor)">Add <mat-icon>add</mat-icon></button> 
                                    
                                </div>
                            </div>
                        </form>
                        <table *ngIf="especificacoes.length > 0" class="table table-bordered mt-3">
                          <thead class="thead-black">
                            <tr>
                              <th>Especificacao</th>
                              <th>Valor</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let espec of especificacoes; index as i">
                              <td>{{espec.descricao_especificacao_gasto}}</td>
                              <td>R$ {{espec.valor_especificacao | number: '1.2-4'}}</td>
                              
                              <td>
                                <abbr title="Excluir">
                                  <button (click)="removeEspecificacaoFinanceiro(i)" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                                </abbr>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                                <th scope="row">Total</th>
                                <td colspan="1">R$ {{gastosTotais | number: '1.2-4'}}</td>
                            </tr>
                        </tfoot>
                        </table>
                        </div>
                     

                    <!--FIM ADD PROVISÕES-->
                    
                    <!--LIST PROVISÕES JA ADDS FINANCEIRO-->

                    <mat-card class="example-card" *ngIf="viajem.status !== 'ANALISE_FINANCEIRA'">
                      <mat-card-header>
                        <mat-card-title>Previsõs de Viajem</mat-card-title>
                       </mat-card-header>
                     <mat-card-content>
                        <mat-list>
                          <mat-list-item *ngFor="let espec of viajem.especificacoes_gastos">
                            <mat-divider></mat-divider>
                            <p matLine>Tipo: {{espec.descricao_especificacao_gasto}} </p>
                            <p matLine>Valor: R$ {{espec.valor_especificacao | number: '1.2-4'}}</p>
                            </mat-list-item>
                        </mat-list>
                      </mat-card-content>
                     </mat-card>

                   
                    
                    </div>

                    <!--viajem.status === 'ANALISE_FINANCEIRA-->
                    <!--UPDATE TO DIRETORIA [ngStyle]="{'color': (getValueTotal() < 0)  ? '#75fa78' : '#f7866f'}"-->
                      <div class="form-group row margin-form text-center">
                        <div class="col-sm-6">

                                <button [disabled]="buttonVisible(viajem.status)" class="espaco button-edit" mat-raised-button (click)="update()">Encaminhar <mat-icon>trending_up</mat-icon></button> 
                        </div>
                    </div>
                      <!--FIM UPDATE TO DIRETORIA-->
                  </div>
                  <div class="modal-footer">
                    <button (click)="fecharModal()" mat-stroked-button color="warn">Close</button>
                  </div>
                 </div>
                </div>
               </div> 
             </div>

      