<!--Alert quando não esta logado-->
<div style="text-align: center;" class="alert alert-warning" role="alert" *ngIf="!authService.isAuthenticated()">
    Obrigatória Autenticação!!! 
    <button  [routerLink]="['/login']" mat-stroked-button><mat-icon>login</mat-icon></button>
</div>

<mat-card style="padding: 0;" *ngIf="authService.isAuthenticated()">
    <mat-card-header>
      <mat-card-title >{{title}}</mat-card-title>
     </mat-card-header>
      <mat-card-content style="padding: 10px;">
        <form>

            <div class="form-group row margin-form">
                <label for="descricao_cidade" class="col-form-label col-sm-2">SubEspecificação</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="subespecificacao.descricao_sub_especificacao_gasto" name="descricao_sub_especificacao_gasto"> 
                </div>
            </div>
             
            <div class="form-group row margin-form">
                <div class="col-sm-6">
                        <button class="espaco button-add"  mat-raised-button (click)="create()" *ngIf="!subespecificacao.id else elseBlock">Cadastrar <mat-icon>add</mat-icon></button>
                    <ng-template #elseBlock>
                        <button class="espaco button-edit" mat-raised-button (click)="update()">Editar <mat-icon>edit</mat-icon></button> 
                    </ng-template>
                </div>
            </div>
        </form>
      </mat-card-content>
    </mat-card>