.texto-centro{
    text-align: center;
    margin: auto;
   } 

   .style-titulo-card {
     text-align: center;
     font-weight: bold;
     color: white;
     background-color: rgb(64, 50, 143);
  } 

  .style-titulo-card-setor {
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: rgb(12, 102, 34);
 } 
 
 .style-titulo-card-funcionario {
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: rgb(255,241,89)

} 

   .espaco {
    margin: 0 7px;
  }

  .margin-form{
    padding: 10px;
    align-content: center;
    
  }
  .margin-paginator{
    padding: 10px;
  }
  
  .color-add {
    background-color: springgreen;
    color: rgb(57, 58, 57);
  }

  .button-add{
    background-color: teal;
    color: white;
  }
  
  .button-edit{
    background-color: #3f51b5;
    color: white;
  }
  

