<mat-card >
    <mat-card-header>
      <mat-card-title >{{title}}</mat-card-title>
     </mat-card-header>
      <mat-card-content>
        <form class="form-top">
            
            <!--Data Inicial-->
            <div class="form-group row margin-form">
                <label for="descricao_cidade" class="col-form-label col-sm-2">Data Inicial</label>
                <div class="col-sm-6 width-datas">
                    <input  [matDatepicker]="dataInicial" class="form-control" [(ngModel)]="viajem.dataInicial" name="dataInicial">
                    <mat-datepicker-toggle [for]="dataInicial"></mat-datepicker-toggle>
                    <mat-datepicker #dataInicial></mat-datepicker>          
                </div>
            </div>

            <!--Data Final-->
            <div class="form-group row margin-form">
                <label for="descricao_cidade" class="col-form-label col-sm-2">Data Final</label>
                <div class="col-sm-6 width-datas">
                <input [matDatepicker]="dataFinal" class="form-control" [(ngModel)]="viajem.dataFinal" name="dataFinal">
                    <mat-datepicker-toggle [for]="dataFinal"></mat-datepicker-toggle>
                    <mat-datepicker #dataFinal></mat-datepicker>
                </div>
            </div>

            <!--Saldo-->
            <div class="form-group row margin-form">
                <label for="saldo" class="col-form-label col-sm-2">Saldo</label>
                <div class="col-sm-6"style="width: 243px;">
                    <input type="number" class="form-control" [(ngModel)]="viajem.saldo" name="saldo"> 
                </div>
            </div>

            <!--Cidade-->
            <div class="form-group row margin-form">
                <label for="cidade_uf" class="col-form-label col-sm-2">Cidade/UF</label>
                    <div class="col-sm-6">
                        <select [compareWith]="compararCidade" class="form-select form-select-sm" [(ngModel)]="viajem.cidade" name="cidade_uf" style="width: 220px;">
                            <option [ngValue]="undefined">SELECIONE A CIDADE</option>
                            <option *ngFor="let cidade of cidades" [ngValue]="cidade">{{cidade.descricao_cidade+"/"+cidade.uf.sigla_uf | uppercase}}</option>
                        </select>  
                    </div>
            </div>
          
             <div class="form-group row margin-form">
                <div class="col-sm-6">
                        <button class="espaco button-add"  mat-raised-button  (click)="create()" *ngIf="!viajem.id else elseBlock">Cadastrar <mat-icon>add</mat-icon></button>
                    <ng-template #elseBlock>
                        <button class="espaco button-edit"  mat-raised-button (click)="update()">Editar <mat-icon>edit</mat-icon></button> 
                    </ng-template>
                </div>
            </div>
        </form>
      </mat-card-content>
    </mat-card>

